.root {
    -fx-background-color: #373435;
}

.label {
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: white;
}

.text-field:hover, .text-field:focused {
    -fx-border-color: #75606F;
}

#saveBtn, #clearBtn {
    -fx-background-color: transparent;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: white;
}

#closeBtn {
    -fx-graphic: url('close_btn.png');
    -fx-background-color: transparent;
    -fx-border-width: 0.0;

}

#saveBtn:hover, #clearBtn:hover {
    -fx-border-color: #75606F;
}

#saveBtn:pressed, #clearBtn:pressed {
    -fx-border-color: #75606F;
    -fx-background-color: #75606F;
}